<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <filter>
  <filter-name>CharacterEncodingFilter</filter-name>
  <filter-class>cn.itcast.bookstore.web.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
    
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
  <filter-name>HtmlFilter</filter-name>
  <filter-class>cn.itcast.bookstore.web.filter.HtmlFilter</filter-class>
    </filter>
    <filter-mapping>
    
    <filter-name>HtmlFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
  <servlet>
    <servlet-name>CategotyServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.manager.CategotyServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.manager.UserServlet</servlet-class>
  </servlet>
  <servlet>
   
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.manager.BookServlet</servlet-class>
  </servlet>
  <servlet>
    
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.IndexServlet</servlet-class>
  </servlet>
  <servlet>
   
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.BuyServlet</servlet-class>
  </servlet>
  <servlet>
  
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.OrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListOrderServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.manager.ListOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.manager.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.manager.ConfirmOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.MyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteCartServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.deleteCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserDetailServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.UpdateUserDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateuserServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.UpdateuserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.manager.DeleteCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BuyBookPreServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.BuyBookPreServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>cn.itcast.bookstore.web.client.SearchServlet</servlet-class>
  </servlet>



















  <servlet-mapping>
    <servlet-name>CategotyServlet</servlet-name>
    <url-pattern>/manager/CategoryServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/client/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/manager/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/client/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/client/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/client/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/client/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/client/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/client/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListOrderServlet</servlet-name>
    <url-pattern>/manager/ListOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/manager/OrderDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmOrderServlet</servlet-name>
    <url-pattern>/manager/ConfirmOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/client/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteCartServlet</servlet-name>
    <url-pattern>/client/deleteCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserDetailServlet</servlet-name>
    <url-pattern>/client/UpdateUserDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateuserServlet</servlet-name>
    <url-pattern>/client/UpdateuserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCategoryServlet</servlet-name>
    <url-pattern>/manager/DeleteCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyBookPreServlet</servlet-name>
    <url-pattern>/client/BuyBookPreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/client/SearchServlet</url-pattern>
  </servlet-mapping>
  
  
  

</web-app>